<app-order-admin *ngIf="user.hasRole('admin') || user.hasRole('driver-manager')"></app-order-admin>
<app-order-legal *ngIf="user.hasRole('legal') && !(user.hasRole('admin') || user.hasRole('driver-manager'))"></app-order-legal>