<div class="row">
  <form>
    <div class="col-xs-2">
      <div class="form-group form-group-material">
        <label class="control-label is-visible" for="date_from">Дата заказа от</label>
        <input type="date" class="form-control" id="date_from" [(ngModel)]="form.date_from" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="col-xs-2">
      <div class="form-group form-group-material">
        <label class="control-label is-visible" for="date_to">Дата заказа до</label>
        <input type="date" class="form-control" id="date_to" [(ngModel)]="form.date_to" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="col-xs-2">
      <div class="form-group form-group-material">
        <div class="text-center">
          <br>
          <button type="button" class="btn btn-primary" (click)="filter()">
            Применить фильтр
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="col-xs-6">
  <ngx-datatable
    class="material"
    headerHeight="50"
    rowHeight="auto"
    draggable="false"
    [columnMode]="ColumnMode.force"
    [rows]="rows"
    [columns]="columns">
  </ngx-datatable>
</div>
