<div class="page-container">
    <div class="content-wrapper">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h3>Список водителей</h3>
                <button mat-raised-button color="default" [routerLink]="['/users/new']">Добавить <i class="icon-plus22 position-left"></i></button>
              <span class="space-horizontal"></span>
              <mat-form-field>
                <mat-label>Поиск по всем полям</mat-label>
                <input matInput (keyup)="applyFilter($event)">
              </mat-form-field>
            </div>
            <div class="panel-body">
                <div class="example-container mat-elevation-z8">
                    <table mat-table [dataSource]="driversList" class="mat-elevation-z8">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Id </th>
                            <td mat-cell *matCellDef="let user"> {{user.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="profile_name">
                            <th mat-header-cell *matHeaderCellDef> ФИО </th>
                            <td mat-cell *matCellDef="let user">
                                <a [routerLink]="'/drivers/edit/'+user['id']">
                                  {{user.profile_name ? user.profile_name : 'Без имени'}}
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef> Телефон </th>
                            <td mat-cell *matCellDef="let user"> {{user.phone}} </td>
                        </ng-container>
                        <ng-container matColumnDef="driver_balance">
                            <th mat-header-cell *matHeaderCellDef> Баланс </th>
                            <td mat-cell *matCellDef="let user">
                              <a [routerLink]="'/drivers/edit/'+user['id'] + '/balance'">
                                <button mat-raised-button color="default">{{getTotalBalancePipe(user.driver_balance)}}</button>
                              </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Действия </th>
                            <td mat-cell *matCellDef="let user">
                                <button mat-raised-button color="success" (click)="openDialog('increment_by_user',user['id'])" type="submit">Пополнить <i class="icon-cash3 position-left"></i></button>
                                <button mat-raised-button color="warn" (click)="openDialog('reduce_by_user', user['id'])" type="submit">Списать <i class="icon-cash3 position-left"></i></button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
