<div class="">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Список автомбоилей<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                </div>

                <div class="panel-body">
                    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal" >
                        <div class="col-xs-6">
                            <div  [ngClass]="hasError('car_id')" class="form-group" *ngIf="form">
                                <label class="col-lg-3 control-label">Автомобиль:</label>
                                <div class="col-lg-9">
                                    <!-- <input type="car_id" class="form-control" placeholder="" [(ngModel)]="form.id" name="id"> -->
                                    <select class="form-control"  id="car_id"
                                            required
                                            [(ngModel)]="form.car_id" name="car_id">
                                        <option *ngFor="let car of cars; let i = 'index'" [value]="i">{{car}}</option>
                                    </select>
                                    <span *ngIf="errors['car_id']" class="help-block">{{errors['car_id'][0]}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-primary">Добавить <i class="icon-arrow-right14 position-left"></i></button>
                        </div>
                    </form>
                    <div class="col-xs-12">
                        <div class="alert alert-success no-border" *ngIf="success">
                            <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            <span class="text-semibold">Сохранено</span>
                        </div>
                    </div>
                    <div class="dataTables_wrapper no-footer">
                        <div class="datatable-scroll">
                            <div class="datatable-scroll">
                                <table class="table datatable-show-all dataTable no-footer" role="grid">
                                    <thead>
                                    <tr>
                                        <th
                                                class=""
                                                *ngFor="let col of columns"
                                                (click)="sort(col.name)"
                                                [ngClass]="{'sorting_asc' : col.name == _sort && desc == false, 'sorting_desc' : col.name == _sort && desc == true, 'sorting' : col.name != _sort}"
                                        >
                                            {{col.descr}}

                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                    <!-- <tr *ngIf="hasSearch(columns)">

                                            <th
                                            *ngFor="let col of columns"
                                            >
                                                <input [type]="col.search.type" [(ngModel)]="search[col.name]" class="form-control" *ngIf="col.search" [name]="col.name" (keyup.enter)="inputSearch()">
                                                <input [type]="col.search.type" [(ngModel)]="search[col.name+2]" class="form-control" *ngIf="col.search2" [name]="col.name+2" (keyup.enter)="inputSearch()">
                                                <select [name]="col.columnName ? col.columnName : col.name" class="form-control" [(ngModel)]="search[col.columnName]" *ngIf="col.select" (change)="inputSearch()">
                                                    <option value=""></option>
                                                    <option [value]="item.id" *ngFor="let item of col.select.data">{{item.name}}</option>
                                                </select>
                                            </th>

                                    </tr> -->
                                    </thead>
                                    <tbody>

                                    <tr *ngFor="let row of models">
                                        <td>
                                            <div>{{row['name']}}</div>
                                        </td>
                                        <td>
                                            <div>
                                                <!-- <a> -->
                                                <button (click)="block(row['id'])" type="button" class="btn btn-default">
                                                    <i [ngClass]="{'icon-unlocked2' : row['blocked'], 'icon-lock' : !row['blocked']}"></i>{{row['blocked'] ? 'Разблокировать' : 'Заблокировать'}}
                                                </button>
                                                <!-- </a> -->
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <button (click)="default(row['id'])" type="button" class="btn btn-default">
                                                    <i [ngClass]="{'icon-x' : row['default'], 'icon-checkmark' : !row['default']}"></i>{{row['default'] ? 'Отменить' : 'Выбрать'}}
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        <i class="icon-menu9"></i>
                                                    </a>

                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a (click)="delete(row['id'])"><i class="icon-x"></i> Удалить </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #item>
    <p>Hello World</p>
</ng-template>
