<div class="col-xs-12">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Данные пользователя<a class="heading-elements-toggle"><i class="icon-more"></i></a>
            </h5>
        </div>

        <div class="panel-body">
            <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal">
                <div>
                    <div [ngClass]="hasError('name')" class="form-group" ng-class='getIsError("name")'>
                        <label class="col-lg-3 control-label">Наменование / ФИО:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" [(ngModel)]="model.name" name="name">
                            <span *ngIf="errors['name']" class="help-block">{{errors['name'][0]}}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="model.userModel.hasRole('legal')">

                    <div [ngClass]="hasError('requisites')" class="form-group">
                        <label class="col-lg-3 control-label">Реквизиты:</label>
                        <div class="col-lg-9">
                                    <textarea class="form-control" [(ngModel)]="model.requisites" name="requisites">
                                    </textarea>
                            <span *ngIf="errors['requisites']" class="help-block">{{errors['requisites'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('legal_address')" class="form-group">
                        <label class="col-lg-3 control-label">Юридический адрес:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" [(ngModel)]="model.legal_address"
                                   name="legal_address">
                            <span *ngIf="errors['legal_address']"
                                  class="help-block">{{errors['legal_address'][0]}}</span>
                        </div>
                    </div>
                </div>

                <div *ngIf="model.userModel.hasRole('driver')">

                    <div [ngClass]="hasError('callsign')" class="form-group" ng-class='getIsError("name")'>
                        <label class="col-lg-3 control-label">Позывной:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" [(ngModel)]="model.callsign" name="callsign">
                            <span *ngIf="errors['callsign']" class="help-block">{{errors['callsign'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('weekend')" class="form-group">
                        <label class="col-lg-3 control-label">Выходной:</label>
                        <div class="col-lg-9">
                            <input type="radio" name="weekend" [(ngModel)]="model.weekend" [value]="1" id="weekend_1">
                            <label for="weekend_1">Да</label>
                            <input type="radio" name="weekend" [(ngModel)]="model.weekend" [value]="0" id="weekend_0">
                            <label for="weekend_0">Нет</label>
                            <span *ngIf="errors['weekend']" class="help-block">{{errors['weekend'][0]}}</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Телефон:</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" [(ngModel)]="model.phone" name="phone">
                        <span *ngIf="errors['phone']" class="help-block">{{errors['phone'][0]}}</span>
                    </div>
                </div>

                <div class="alert alert-success no-border" *ngIf="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span
                            class="sr-only">Close</span></button>
                    <span class="text-semibold">Сохранено</span>
                </div>
                <div class="text-left" *ngIf="storage.hasRole('admin') || storage.hasRole('driver')">
                    <button type="submit" class="btn btn-primary">Сохранить <i
                            class="icon-arrow-right14 position-left"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
