
<div class="page-container">
	<div class="content-wrapper">
		<div class="panel panel-flat">
			<div class="panel-heading">
			<div class="alert alert-success" *ngIf="successAlert">
				Спасибо, заявка принята в работу. Ожидайте подтверждения водителем
			</div>
				<h3>Список заявок</h3>
				<button [routerLink]="['/orders/new']" type="submit" class="btn btn-success">Создать заказ <i class="icon-plus22 position-left"></i></button>
				<button [routerLink]="['/orders/select']" type="submit" class="btn btn-success">Выбрать автомобиль <i class="icon-plus22 position-left"></i></button>
			</div>
			<div class="panel-body">
			</div>
			<div class="dataTables_wrapper no-footer">
				<div class="datatable-scroll-xs">
					<table class="table datatable-show-all dataTable no-footer" role="grid">
						<thead>
						<tr>
							<th
									class=""
									*ngFor="let col of columns"
									(click)="_sort(col.name)"
									[ngClass]="{'sorting_asc' : col.name == sort && desc == false, 'sorting_desc' : col.name == sort && desc == true, 'sorting' : col.name != sort}"
							>
								{{col.descr}}

							</th>
							<th>

							</th>
						</tr>
						<tr>

							<th
									*ngFor="let col of columns"
							>
								<input [type]="col.search.type" [(ngModel)]="search[col.name]" class="form-control" *ngIf="col.search" [name]="col.name" (keyup.enter)="inputSearch()">
								<input [type]="col.search.type" [(ngModel)]="search[col.name+2]" class="form-control" *ngIf="col.search2" [name]="col.name+2" (keyup.enter)="inputSearch()">
								<select [name]="col.columnName ? col.columnName : col.name" class="form-control" [(ngModel)]="search[col.columnName]" *ngIf="col.select" (change)="inputSearch()">
									<option value=""></option>
									<option [value]="item.id" *ngFor="let item of col.select.data">{{item.name}}</option>
								</select>
							</th>

						</tr>
						</thead>
						<tbody>

						<tr *ngFor="let row of models" [ngClass]="getRowClassByRow(row)">
							<td *ngFor="let col of columns">
								<div *ngIf="!col.format && !col.customInput">{{row[col.name]}}</div>
								<div *ngIf="col.format && col.format.type == 'date'">{{row[col.name] | date: col.format.format}}</div>
								<div *ngIf="col.format && col.format.func">{{col.format.func(row[col.name])}}</div>
								<div *ngIf="col.format && col.format.row"><p [innerHTML]="col.format.row(row)"></p></div>
							</td>
							<td>

								<ul class="icons-list" *ngIf="storage.hasRole('legal')">
									<li class="dropdown">
										<a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<i class="icon-menu9"></i>
										</a>
										<ul class="dropdown-menu dropdown-menu-right">
											<li *ngIf="row['scenario'] == 'legal'">
												<a [routerLink]="['/'+'orders'+'/'+row['id']+'/edit']"><i class="icon-pencil3"></i> Редактировать </a>
											</li>
											<li *ngIf="row['scenario'] == 'driver'">
												<a [routerLink]="['/'+'orders'+'/'+row['id']+'/select-edit']"><i class="icon-pencil3"></i> Редактировать </a>
											</li>
										</ul>
									</li>
								</ul>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="datatable-footer">
					<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                            <span *ngIf="pager.pages && pager.pages.length > 1" class="pagination pagination-sm twbs-prev-next pagination">
                                <a class="paginate_button next previous" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(pager.currentPage - 1)">«
								</a>
                                <a
										*ngFor="let page of pager.pages"
										[ngClass]="{current:pager.currentPage === page}"
										class="paginate_button"
										(click)="setPage(page)"
								>
									{{page}}
								</a>
                                <a class="paginate_button next" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.currentPage + 1)">»
								</a>
                            </span>
					</div>
				</div>
				<div class="center bootpag-default">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pull-left">Отказ от заявки</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<form class="form-horizontal" #userForm="ngForm" >
							<div class="form-group" ng-class='getIsError("start")'>
								<label class="col-lg-3 control-label">Причина отказа:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" [(ngModel)]="modal.driver_comment" name="driver_comment">
									<span *ngIf="errors['driver_comment']" class="help-block">{{errors['driver_comment']}}</span>
								</div>
							</div>
							<div class="form-group" ng-class='getIsError("end")'>
								<label class="col-lg-3 control-label">Передать другому водителю по позывному(опционально):</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" [(ngModel)]="modal.callsign" name="callsign">
									<span *ngIf="errors['callsign']" class="help-block">{{errors['callsign']}}</span>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button (click)="declineModel()" class="btn btn-danger"><i class="icon-check"></i>Подтвердить</button>
			</div>
		</div>
	</div>
</div>