<div class="">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Список договоров<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
        </div>

        <div class="panel-body">
        	<div class="col-xs-12"  *ngIf="storage.hasRole('admin')">
        		<button (click)="open()" class="btn btn-success" type="submit">Добавить <i class="icon-plus22 position-left"></i></button>
        	</div>
            <div class="col-xs-12">
                <!-- <div class="alert alert-success no-border" *ngIf="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Сохранено</span>
                </div> -->
            </div>
            <div class="dataTables_wrapper no-footer">
                <div class="datatable-scroll">
                    <div class="datatable-scroll">
                        <table class="table datatable-show-all dataTable no-footer" role="grid">
                            <thead>
                                <tr>
                                    <th 
                                    class="" 
                                    *ngFor="let col of columns" 
                                    (click)="sort(col.name)" 
                                    [ngClass]="{'sorting_asc' : col.name == _sort && desc == false, 'sorting_desc' : col.name == _sort && desc == true, 'sorting' : col.name != _sort}"
                                    >
                                        {{col.descr}}

                                    </th>
                                    <th *ngIf="storage.hasRole('admin')">
                                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr *ngFor="let row of models">
                                    <td>
                                        <div>{{row['contract_number']}}</div>
                                    </td>
                                    <td>
                                        <div>{{row['contract_period_start'] | date: 'dd.MM.yyyy'}}</div>
                                    </td>
                                    <td>
                                        <div>{{row['contract_period_end'] | date: 'dd.MM.yyyy'}}</div>
                                    </td>
                                    <td>
                                        <div>{{row['order_cost']}}</div>
                                    </td>
                                    <td>
                                        <div>{{row['transfer']}}</div>
                                    </td>
                                    <td>
                                        <div>{{row['request_price']}}</div>
                                    </td>
                                    <td *ngIf="storage.hasRole('admin')">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                	<li>
					                                    <a (click)="open(row['id'])"><i class="icon-pencil3"></i> Редактировать </a>
					                                </li>
                                                    <li>
                                                        <a (click)="delete(row['id'])"><i class="icon-x"></i> Удалить </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{modalConfig.header}}</h4>
        </div>
        <div class="modal-body">
			<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal" >

				<div [ngClass]="hasError('contract_period_start')" class="form-group">
				    <label class="col-lg-3 control-label">Дата начала действия договора:</label>
				    <div class="col-lg-9">
				        <input type="date" class="form-control" [(ngModel)]="model.contract_period_start" name="contract_period_start">
				        <span *ngIf="errors['contract_period_start']" class="help-block">{{errors['contract_period_start'][0]}}</span>
				    </div>
				</div>

				<div [ngClass]="hasError('contract_period_end')" class="form-group">
				    <label class="col-lg-3 control-label">Дата конца действия договора:</label>
				    <div class="col-lg-9">
				        <input type="date" class="form-control" [(ngModel)]="model.contract_period_end" name="contract_period_end">
				        <span *ngIf="errors['contract_period_end']" class="help-block">{{errors['contract_period_end'][0]}}</span>
				    </div>
				</div>

				<div [ngClass]="hasError('contract_number')" class="form-group">
				    <label class="col-lg-3 control-label">Номер договора:</label>
				    <div class="col-lg-9">
				        <input type="text" class="form-control" [(ngModel)]="model.contract_number" name="contract_number">
				        <span *ngIf="errors['contract_number']" class="help-block">{{errors['contract_number'][0]}}</span>
				    </div>
				</div>

				<fieldset class="content-group">
				    <legend class="text-bold">Тарифы</legend>
				    <div [ngClass]="hasError('request_price')" class="form-group">
				        <label class="col-lg-3 control-label">Стоимость подачи:</label>
				        <div class="col-lg-9">
				            <div class="input-group bootstrap-touchspin">
				                <span class="input-group-btn">
				                </span>
				                <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;">
				                </span>
				                <input type="text" class="touchspin-prefix form-control" [(ngModel)]="model.request_price" name="request_price" style="display: block;">
				                <span class="input-group-addon bootstrap-touchspin-postfix">
				                    руб
				                </span>
				                <span class="input-group-btn"></span>
				            </div>
				            
				            <span *ngIf="errors['request_price']" class="help-block">{{errors['request_price'][0]}}</span>
				        </div>
				    </div>

				    <div [ngClass]="hasError('transfer')" class="form-group">
				        <label class="col-lg-3 control-label">Стоимость далее:</label>
				        <div class="col-lg-9">
				            <div class="input-group bootstrap-touchspin">
				                <span class="input-group-btn">
				                </span>
				                <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;">
				                </span>
				                <input type="text" class="touchspin-prefix form-control" [(ngModel)]="model.transfer" name="transfer" style="display: block;">
				                <span class="input-group-addon bootstrap-touchspin-postfix">
				                    руб/км
				                </span>
				                <span class="input-group-btn"></span>
				            </div>
				            <span *ngIf="errors['transfer']" class="help-block">{{errors['transfer'][0]}}</span>
				        </div>
				    </div>

				    <div [ngClass]="hasError('order_cost')" class="form-group">
				        <label class="col-lg-3 control-label">Минимальная стоимость поездки:</label>
				        <div class="col-lg-9">
				            <div class="input-group bootstrap-touchspin">
				                <span class="input-group-btn">
				                </span>
				                <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;">
				                </span>
				                <input type="text" class="touchspin-prefix form-control" [(ngModel)]="model.order_cost" name="order_cost" style="display: block;">
				                <span class="input-group-addon bootstrap-touchspin-postfix">
				                    руб
				                </span>
				                <span class="input-group-btn"></span>
				            </div>
				            <span *ngIf="errors['order_cost']" class="help-block">{{errors['order_cost'][0]}}</span>
				        </div>
				    </div>
				</fieldset>
			</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
          <button type="submit" (click)="onSubmit()"class="btn btn-primary"><i class="icon-check"></i> {{modalConfig.submitButton}}</button>
        </div>
      </div>
      
    </div>
  </div>