<div *ngIf="storage.hasRole('admin') || storage.hasRole('driver-manager')">
	<div  class="page-container">
	<div class="content-wrapper">
    <form (ngSubmit)="onSubmit()" [formGroup]="model" class="form-horizontal" >
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Выбрать автомобиль<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
            </div>



            <div class="panel-body">

				<div [ngClass]="hasError('order_type')" class="form-group" ng-class='getIsError("role")'>
					<label class="col-lg-3 control-label">Услуга:</label>
					<div class="col-lg-9">
						<select formControlName="order_type" class="form-control">
							<option value="0">Трансфер</option>
							<option value="1">Аренда</option>
							<option value="2">Доставка</option>
						</select>
						<span *ngIf="errors['order_type']" class="help-block">{{errors['order_type'][0]}}</span>
					</div>
				</div>

                <div [ngClass]="hasError('datetime_order')" class="form-group">
                    <label class="col-lg-3 control-label">Дата и время</label>
                    <div class="col-lg-9">
                        <input type="datetime-local" class="form-control" formControlName="datetime_order">
                        <span *ngIf="errors['datetime_order']" class="help-block">{{errors['datetime_order'][0]}}</span>
                    </div>
                </div>

				<div [ngClass]="hasError('number')" class="form-group">
					<label class="col-lg-3 control-label">Телефон(пассажира)</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" formControlName="number">
						<span *ngIf="errors['number']" class="help-block">{{errors['number'][0]}}</span>
					</div>
				</div>

				<fieldset class="content-group">
					<legend class="text-bold">Адреса</legend>

					<div [ngClass]="hasError('from')" class="form-group">
						<label class="col-lg-3 control-label">Адрес подачи</label>
						<div class="col-lg-9">
							<input class="form-control" formControlName="from" id="from">
							<span *ngIf="errors['from']" class="help-block">{{errors['from'][0]}}</span>
						</div>
					</div>
					<div
					class="form-group"
					 [ngClass]="hasError('addresses')"
					formArrayName="addresses"
					*ngFor="let item of model.get('addresses').controls; let i = index;"
					>
						<div [formGroupName]="i">
							<label class="col-lg-3 control-label">Адрес назначения {{i + 1}}</label>
							<div class="col-lg-8">
								<input class="form-control" formControlName="name" id="address_{{i}}">
								<span *ngIf="errors['addresses']" class="help-block">{{errors['addresses'][0]}}</span>
							</div>
							<div class="col-lg-1">
								<button type="button" (click)="removeItem(i)" class="btn btn-default"><i class="icon-cross2"></i></button>
							</div>
						</div>
					</div>

					<button type="button" (click)="addItem()" class="btn btn-default"><i class="icon-more"></i>Добавить адрес</button>
				</fieldset>

				<div [ngClass]="hasError('car_id')" class="form-group">
                    <label class="col-lg-3 control-label">Авто:</label>
	                <div class="col-lg-9">
                        <select class="form-control"
                    		[attr.disabled]="getOrderCarDisabled() ? '' : null"
                    		formControlName="car_id">
                            <option value="">
                            </option>
	                        <option *ngFor="let car of carsList;" [value]="car['id']">
	                        	{{car['name']}}
	                        </option>
                      	</select>
	                    <span *ngIf="errors['car_id']" class="help-block">{{errors['car_id'][0]}}</span>
	                </div>
                </div>

				<div [ngClass]="hasError('payment')" class="form-group" ng-class='getIsError("role")'>
					<label class="col-lg-3 control-label">Оплата:</label>
					<div class="col-lg-9">
						<select formControlName="payment" class="form-control">
							<option value="noncash">Безналичный</option>
                            <option value="card">Банковская карта</option>
                            <option value="cash">Наличный</option>
						</select>
						<span *ngIf="errors['payment']" class="help-block">{{errors['payment'][0]}}</span>
					</div>
				</div>

				<div [ngClass]="hasError('comment')" class="form-group">
					<label class="col-lg-3 control-label">Комментарий</label>
					<div class="col-lg-9">
						<textarea class="form-control" formControlName="comment">

						</textarea>
						<span *ngIf="errors['comment']" class="help-block">{{errors['comment'][0]}}</span>
					</div>
				</div>

				<div [ngClass]="hasError('status')" *ngIf="storage.hasRole('admin')" class="form-group">
                    <label class="col-lg-3 control-label">Статус:</label>
	                <div class="col-lg-9">
                        <select class="form-control" formControlName="status">
	                        <option *ngFor="let status of statusList; let i = index" [value]="i">
	                        	{{status}}
	                        </option>
                      	</select>
	                    <span *ngIf="errors['status']" class="help-block">{{errors['status'][0]}}</span>
	                </div>
                </div>

				<div [ngClass]="hasError('price')" class="form-group">
					<label class="col-lg-3 control-label">Стоимость</label>
					<div class="col-lg-9">
						<input
						type="text"
						[attr.disabled]="getPriceDisabled() ? '' : null"

						class="form-control"
						formControlName="price">
						<span *ngIf="errors['price']" class="help-block">{{errors['price'][0]}}</span>
					</div>
				</div>
				<div class="panel panel-flat">
					 <!-- *ngIf="storage.hasRole('admin')"  -->
					<div class="panel-heading">
									<h5 class="panel-title">Расчет стоимости поездки<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
									<div class="heading-elements">
										<ul class="icons-list">
					                		<li><a data-action="close"></a></li>
					                	</ul>
				                	</div>
								</div>
					<table class="table table-lg">

						<thead>
							<tr>
								<th>Поле</th>
								<th>Значение</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Расстояние</td>
								<td>{{length}}</td>
							</tr>
							<tr>
								<td>Расстояние подачи</td>
								<td>{{serve_length}}</td>
							</tr>
							<tr>
								<td>Подача авто</td>
								<td>{{profile.request_price + " руб/км"}}</td>
							</tr>
							<tr>
								<td>Трансфер</td>
								<td>{{profile.transfer  + " руб/км"}}</td>
							</tr>
							<tr>
								<td>Мин.стоимость</td>
								<td>{{profile.order_cost + " руб"}}</td>
							</tr>
						</tbody>
					</table>
				</div>
                <div class="text-left">
                    <button type="submit" class="btn btn-primary">Заказать <i class="icon-arrow-right14 position-left"></i></button>

                </div>
            </div>
        </div>
    </form>
	</div>
</div>
</div>
<div *ngIf="storage.hasRole('legal') && !(storage.hasRole('admin') || storage.hasRole('driver-manager'))">
	<div  class="page-container order-legal">
	<div class="content-wrapper">
    <form (ngSubmit)="onSubmit()" [formGroup]="model" class="form-horizontal" >
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Заказать автомобиль<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
            </div>

            <div class="panel-body">
				<div id="example-basic">
					<h3>Адреса заказа</h3>
					<section>
						<div [ngClass]="hasError('datetime_order')" class="form-group">
							<label class="col-lg-3 control-label">Дата и время</label>
							<div class="col-lg-9">
								<input type="datetime-local" class="form-control" formControlName="datetime_order">
								<span *ngIf="errors['datetime_order']" class="help-block">{{errors['datetime_order'][0]}}</span>
							</div>
						</div>

						<fieldset class="content-group">
							<legend class="text-bold">Адреса</legend>

							<div [ngClass]="hasError('from')" class="form-group">
								<label class="col-lg-3 control-label">Адрес подачи</label>
								<div class="col-lg-9">
									<input class="form-control" formControlName="from" id="from">
									<span *ngIf="errors['from']" class="help-block">{{errors['from'][0]}}</span>
								</div>
							</div>
							<div
									class="form-group"
									formArrayName="addresses"
									[ngClass]="hasError('addresses')"
									*ngFor="let item of model.get('addresses').controls; let i = index;"
							>
								<div [formGroupName]="i">
									<label class="col-lg-3 control-label">Адрес назначения {{i + 1}}</label>
									<div class="col-lg-8">
										<input class="form-control" formControlName="name" id="address_{{i}}">
										<span *ngIf="errors['addresses']" class="help-block">{{errors['addresses'][0]}}</span>
									</div>
									<div class="col-lg-1">
										<button type="button" (click)="removeItem(i)" class="btn btn-default"><i class="icon-cross2"></i></button>
									</div>
								</div>
							</div>

							<button type="button" (click)="addItem()" class="btn btn-default"><i class="icon-more"></i>Добавить адрес</button>
						</fieldset>
					</section>
					<h3>Выбор автомобиля</h3>
					<section>

						<div [ngClass]="hasError('length')" class="form-group">
							<label class="col-lg-3 control-label">Максимальное расстояние подачи:</label>
							<div class="col-lg-9">
								<select formControlName="length" class="form-control">
									<option value="25000">25км</option>
									<option value="50000">50км</option>
									<option value="100000">100км</option>
									<option value="500000">500км</option>
								</select>
								<span *ngIf="errors['length']" class="help-block">{{errors['length'][0]}}</span>
							</div>
						</div>
						<div [ngClass]="hasError('car_id')" class="form-group">
							<!--<label class="col-lg-3 control-label">Авто:</label>-->
							<div class="col-xs-12">
								<div *ngIf="carsList.length == 0">
									<div class="alert alert-danger">
										Автомобили не найдены, попробуйте пожалуйста увеличить расстояние подачи
									</div>
								</div>
								<div *ngIf="carsList" class="">
									<div *ngFor="let car of carsList" class="container-fluid bg-grey-300">
										<div class="row">
											<div class="col-xs-3">
												<div class="jumbotron" style="background: transparent !important;">
													<img *ngIf="car['image']" src="{{'/api/public/images/cars/'+car['id']+'/'+car['image']}}" style="width:100%">
												</div>
											</div>
											<div class="col-xs-3 row-center">
												<div class="row">
													<div class="container">
														<h3><b>{{car['mark']+' '+car['model']}}</b></h3>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6"><h3><b>Год выпуска</b></h3></div>
													<div class="col-xs-6"><h3><b>{{car['year']}}</b></h3></div>
												</div>
												<div class="row">
													<div class="col-xs-6"><h3><b>Цвет</b></h3></div>
													<div class="col-xs-6"><h3><b>{{car['color']}}</b></h3></div>
												</div>
											</div>
											<div class="col-xs-3 row-center">
												<div class="row">
													<div class="col-xs-6">Детское кресло</div>
													<div class="col-xs-6">{{car['baby_chair'] ? 'Да' : 'Нет'}}</div>
												</div>
												<div class="row">
													<div class="col-xs-6">Кондиционер</div>
													<div class="col-xs-6">{{car['conditioner'] ? 'Да' : 'Нет'}}</div>
												</div>
												<div class="row">
													<div class="col-xs-6">Оплата банковской картой</div>
													<div class="col-xs-6">{{car['bank_card_payment'] ? 'Да' : 'Нет'}}</div>
												</div>
												<div class="row">
													<div class="col-xs-6">Мест для пассажиров</div>
													<div class="col-xs-6">{{car['passengers']}}</div>
												</div>
												<div class="row">
													<div class="col-xs-6">Мест для багажа</div>
													<div class="col-xs-6">{{car['baggage']}}</div>
												</div>
											</div>
											<div class="col-xs-3 row-center">
												<div class="row">
													<h3><b>{{car['price']+' р'}}</b></h3>
												</div>
												<div class="row">
													<button type="button" style="
														padding: 0px;
														width: 150px;
														height: 50px;
													" (click)="setCar(car)" class="btn btn-xs btn-success">
														<h3 style="
															margin: 0px;
														"> Заказать </h3>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<h3>Подтверждение заказа</h3>
					<section>
						<div [ngClass]="hasError('number')" class="form-group">
							<label class="col-lg-3 control-label">Телефон(пассажира)</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" formControlName="number">
								<span *ngIf="errors['number']" class="help-block">{{errors['number'][0]}}</span>
							</div>
						</div>

                        <div [ngClass]="hasError('payment')" class="form-group" *ngIf="selectedCar">
                            <label class="col-lg-3 control-label">Оплата:</label>
                            <div class="col-lg-9">
                                <select formControlName="payment" class="form-control">
                                    <option value="noncash">Безналичный</option>
                                    <option value="card" *ngIf="selectedCar.bank_card_payment === 1">Банковская карта</option>
                                    <option value="cash">Наличный</option>
                                </select>
                                <span *ngIf="errors['payment']" class="help-block">{{errors['payment'][0]}}</span>
                            </div>
                        </div>

						<div [ngClass]="hasError('comment')" class="form-group">
							<label class="col-lg-3 control-label">Комментарий</label>
							<div class="col-lg-9">
						<textarea class="form-control" formControlName="comment">

						</textarea>
								<span *ngIf="errors['comment']" class="help-block">{{errors['comment'][0]}}</span>
							</div>
						</div>

						<div [ngClass]="hasError('status')" *ngIf="storage.hasRole('admin')" class="form-group">
							<label class="col-lg-3 control-label">Статус:</label>
							<div class="col-lg-9">
								<select class="form-control" formControlName="status">
									<option *ngFor="let status of statusList; let i = index" [value]="i">
										{{status}}
									</option>
								</select>
								<span *ngIf="errors['status']" class="help-block">{{errors['status'][0]}}</span>
							</div>
						</div>

						<div [ngClass]="hasError('price')" class="form-group">
							<label class="col-lg-3 control-label">Стоимость</label>
							<div class="col-lg-9">
								<input
										type="text"
										[attr.disabled]="getPriceDisabled() ? '' : null"

										class="form-control"
										formControlName="price">
								<span *ngIf="errors['price']" class="help-block">{{errors['price'][0]}}</span>
							</div>
						</div>
                        <div class="panel panel-flat">
                            <!-- *ngIf="storage.hasRole('admin')"  -->
                            <div class="panel-heading">
                                <h5 class="panel-title">Расчет стоимости поездки<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="close"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <table class="table table-lg">

                                <thead>
                                <tr>
                                    <th>Поле</th>
                                    <th>Значение</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Расстояние</td>
                                    <td>{{length}}</td>
                                </tr>
                                <tr>
                                    <td>Расстояние подачи</td>
                                    <td>{{serve_length}}</td>
                                </tr>
                                <tr>
                                    <td>Подача авто</td>
                                    <td>{{getProfileAttribute('request_price', ' руб/км')}}</td>
                                </tr>
                                <tr>
                                    <td>Трансфер</td>
                                    <td>{{getProfileAttribute('transfer', ' руб/км')}}</td>
                                </tr>
                                <tr>
                                    <td>Мин.стоимость</td>
                                    <td>{{getProfileAttribute('order_cost', ' руб')}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
						<!--<div class="text-left">-->
							<!--<button type="submit" class="btn btn-primary">Добавить <i class="icon-arrow-right14 position-left"></i></button>-->

						<!--</div>-->

					</section>
				</div>






            </div>
        </div>
    </form>
	</div>
</div>
</div>
