<div class="page-container">
  <div class="content-wrapper">
    <div class="panel">
      <div class="panel-heading">
        <h3>Отчеты</h3>
      </div>
      <div class="panel-body">
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#basic-tab1" data-toggle="tab">Отчеты по выполненным и отмененным с оплатой заказам</a>
            </li>
            <li>
              <a href="#basic-tab2" data-toggle="tab">Отчет по выплате или задолженности водителей</a>
            </li>
            <li>
              <a href="#basic-tab3" data-toggle="tab">Отчет по Заказчикам за период</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="basic-tab1">
              <app-reports-payment></app-reports-payment>
            </div>

            <div class="tab-pane" id="basic-tab2">
              <app-reports-dept-payment></app-reports-dept-payment>
            </div>

            <div class="tab-pane" id="basic-tab3">
              <app-reports-company-pdf></app-reports-company-pdf>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
