<div class="page-container">
    <div class="content-wrapper">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h3>Баланс водителя: {{totalBalance}}</h3>
                <button mat-raised-button color="success" (click)="openDialog('increment_by_user')" type="submit">Пополнить <i class="icon-cash3 position-left"></i></button>
                <button mat-raised-button color="warn" (click)="openDialog('reduce_by_user')" type="submit">Списать <i class="icon-cash3 position-left"></i></button>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <table mat-table [dataSource]="balanceList" class="mat-elevation-z8">
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef> Действие </th>
                            <td mat-cell *matCellDef="let model"> {{typePipe(model.type)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="order_id">
                            <th mat-header-cell *matHeaderCellDef> Номер заказа </th>
                            <td mat-cell *matCellDef="let model">
                                <a [routerLink]="'/orders/' + model['order_id'] + '/edit/'">{{model.order_id}}</a></td>
                        </ng-container>
                        <ng-container matColumnDef="user_id">
                            <th mat-header-cell *matHeaderCellDef> Пользователь </th>
                            <td mat-cell *matCellDef="let model">
                                <a [routerLink]="'/users/'+model['user_id'] + '/edit'">{{getUserNameByProfile(model.user)}}</a></td>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <th mat-header-cell *matHeaderCellDef> Сумма </th>
                            <td mat-cell *matCellDef="let model"> {{model.value}} </td>
                        </ng-container>
                        <ng-container matColumnDef="comment">
                            <th mat-header-cell *matHeaderCellDef> Комментарий </th>
                            <td mat-cell *matCellDef="let model"> {{model.comment}} </td>
                        </ng-container>
                        <ng-container matColumnDef="created_at">
                            <th mat-header-cell *matHeaderCellDef> Дата </th>
                            <td mat-cell *matCellDef="let model"> {{datePipe(model.created_at)}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
