<div  class="page-container">
	<div class="content-wrapper">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal" >
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Добавить пользователя<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
            </div>

            <div class="panel-body">
                <div [ngClass]="hasError('email')" class="form-group">
                    <label class="col-lg-3 control-label">Эл.почта:</label>
                    <div class="col-lg-9">
                        <input type="email" class="form-control" placeholder="" [(ngModel)]="model.email" name="email">
                        <span *ngIf="errors['email']" class="help-block">{{errors['email'][0]}}</span>
                    </div>
                </div>

                <div [ngClass]="hasError('name')" class="form-group">
                    <label class="col-lg-3 control-label">Логин:</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" placeholder="Будет использован для входа" [(ngModel)]="model.name" name="name">
                        <span *ngIf="errors['name']" class="help-block">{{errors['name'][0]}}</span>
                    </div>
                </div>

                <div [ngClass]="hasError('password')" class="form-group">
                    <label class="col-lg-3 control-label">Пароль:</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control" placeholder="Если оставить пустым, пароль будет сгенерирован" [(ngModel)]="model.password" name="password">
                        <span *ngIf="errors['password']" class="help-block">{{errors['password'][0]}}</span>
                    </div>
                </div>

				<div [ngClass]="hasError('role')" class="form-group">
					<label class="col-lg-3 control-label">Роль:</label>
					<div class="col-lg-9">
                        <div *ngFor="let role of model.getRoles()">
                            <label>
                                <input type="checkbox"
                                    name="{{role.value}}"
                                    id="{{role.value}}"
                                    value="{{role.value}}"
                                    [checked]="model.rolesUpdate[role.value]"
                                    (change)="updateCheckedOptions(role.value, $event)">
                                {{role.name}}
                            </label>
                        </div>
						<span *ngIf="errors['role']" class="help-block">{{errors['roles'][0]}}</span>
					</div>
				</div>

                <div class="text-left">
                    <button type="submit" class="btn btn-primary">Сохранить <i class="icon-arrow-right14 position-left"></i></button>
                </div>
            </div>
        </div>
    </form>
	</div>
</div>
