<div class="page-container">
  <div class="content-wrapper">
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h3>Список клиентов</h3>
      </div>
      <div class="panel-body">
        <ngx-datatable
          class="material"
          headerHeight="50"
          rowHeight="auto"
          draggable="false"
          [columnMode]="ColumnMode.force"
          [rows]="rows"
          [columns]="columns">
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
