.login-page-container {
	margin: 0 auto 20px auto; 
	width: 360px;
}

.bg-yellow {
    background-color: #FFD700;
    border-color: #FFD700;
    color: black;
}

.has-error .select2-selection {
    border-color: rgb(185, 74, 72) !important;
}

.datatable-scroll-xs {	
    min-height: .01%;
}

@media (max-width: 1400px) {
  .datatable-scroll-xs {
    width: 100%;
    overflow-x: scroll;
  }
  .datatable-scroll-xs th,
  .datatable-scroll-xs td {
    /*white-space: nowrap;*/
  }
}

.success-li {
    background-color: #4CAF50 !important;
    color:white !important;
}

.bg-grey-300 {
    color:black;
    background-color: #f4f4f4;
}

.bg-grey-300:hover {
    background-color:yellow;
}

.wizard > .steps > ul > li.current .number {
    font-size: 0;
    border-color: green;
    background-color: #fff;
    color: green;
}

.wizard > .steps > ul > li.done .number {
    font-size: 0;
    background-color: white;
    border-color: green;
    color: green;
}

.wizard > .steps > ul > li:before, .wizard > .steps > ul > li:after {
    background-color: green;
}