/* You can add global styles to this file, and also import other style files */
.cars:hover {
    cursor: pointer;
    background-color: #37474F;
}
.cars:active {
    /*cursor: pointer;*/
    background-color: #37474F;
}